<!-- app/admin/templates/admin/admin.html -->
{% extends 'base.html' %}

{% block title %}Admin Page{% endblock %}

{% block content %}

    {% include 'flash_msgs.html' %}

    <h1 class="heading">Welcome admin!</h1>

    <!-- <h2>Task</h2> -->
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered caption-top">
            <caption>Scheduled Task</caption>
            <thead>
                <tr>
                    <th scope="col">Task Actions</th>
                    <th scope="col">Name</th>
                    <th scope="col">Trigger</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="{{ url_for('task.schedule') }}" class="btn btn-primary btn-sm">Schedule</a>
                        <a href="{{ url_for('task.stop') }}" class="btn btn-danger btn-sm">Stop</a>
                    </td>
                    <td>{{ adv_job.name }}</td>
                    <td>{{ adv_job.trigger }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <br><br>

    <!-- <h2>All Users</h2> -->
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered caption-top">
            <caption>List of Users</caption>
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Fullname</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telegram</th>
                    <th scope="col">Joined</th>
                    <th scope="col">Admin</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td scope="row">{{ user.id }}</td>
                        <td><code>{{ user.fullname }}</code></td>
                        <td><code>{{ user.email }}</code> </td>
                        <td><code>{{ user.telegram }}</code> </td>
                        <td><code>{{ convert_utc_to_ist(user.created_at.strftime("%Y-%m-%d %H:%M:%S")) }}</code> </td>
                        <td><code>{{ user.is_admin }}</code> </td>
                        <td>
                            <!-- Start of Delete user btn logic -->

                            {% if user.id == current_user.id or user.email == indrajit %}
                                <button type="button" class="btn btn-danger btn-sm" disabled>Delete</button>
                            {% else %}

                                <button type="button" class="btn btn-danger me-md-2 btn-sm" data-bs-toggle="modal" data-bs-target="#userDelBtn{{ user.id }}">
                                  Delete
                                </button>

                                <!-- Delete Modal -->
                                <div class="modal fade" id="userDelBtn{{ user.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="userDelBtnLabel{{ user.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                    
                                        <div class="modal-header">
                                          <h1 class="modal-title fs-5" id="userDelBtnLabel{{ user.id }}">Delete '{{ user.fullname }}' ?</h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                    
                                        <div class="modal-body">
                                          Ensure that you are certain about deleting the user before proceeding.
                                        </div>
                                    
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                          <!-- <button type="button" class="btn btn-primary">Understood</button> -->
                                          <a href="{{ url_for('admin.delete_user', id=user.id) }}" class="btn btn-danger">Delete</a> 
                                        </div>
                                    
                                      </div>
                                    </div>
                                </div>

                            {% endif %}
                            
                            <!-- End of Delete user btn logic -->

                            {% if current_user.email == indrajit %}

                                <!-- Admin toggler -->
                                <button
                                  type="button"
                                  class="btn btn-danger me-md-2 btn-sm"
                                  data-bs-toggle="modal"
                                  data-bs-target="#adminTogglerModal{{ user.id }}"
                                >
                                    {% if user.is_admin %}
                                        Disable Admin
                                    {% else %}
                                        Make Admin
                                    {% endif %}

                                </button>

                                <!-- Delete Modal -->
                                <div class="modal fade" id="adminTogglerModal{{ user.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="adminTogglerModalLabel{{ user.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">

                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="adminTogglerModalLabel{{ user.id }}">
                                                {% if user.is_admin %}
                                                    Disable '{{ user.fullname }}' from admin ?
                                                {% else %}
                                                    Make '{{ user.fullname }}' admin ?
                                                {% endif %}
                                            </h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>

                                        <div class="modal-body">
                                          Ensure that you are certain about toggling the admin status of that user.
                                        </div>

                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                          <form method="post" action="{{ url_for('admin.toggle_admin', user_id=user.id) }}" style="display: inline;">
                                                {% if user.is_admin %}
                                                    <button type="submit" class="btn btn-danger">Disable Admin</button>
                                                {% else %}
                                                    <button type="submit" class="btn btn-danger">Make Admin</button>
                                                {% endif %}
                                          </form>
                                           
                                        </div>

                                      </div>
                                    </div>
                                </div>

                                <!-- End of admin toggling -->

                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br><br>

    <!-- <h2>All Monitored Ads</h2> -->
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered caption-top">
            <caption>List of MonitoredAds</caption>
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Advertisement</th>
                    <th scope="col">Count</th>
                    <th scope="col">User (ID)</th>
                </tr>
            </thead>
            <tbody>
                {% for ad in monitored_ads %}
                    <tr>
                        <td scope="row">{{ ad.id }}</td>
                        <td>
                            <!-- Button trigger modal -->
                            <code>{{ ad.title }}</code>
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#showURL{{ ad.id }}">
                              View
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="showURL{{ ad.id }}" tabindex="-1" aria-labelledby="showUrlModalLabel{{ ad.id }}" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="showUrlModalLabel{{ ad.id }}">{{ ad.title }}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <b>Advertisement Number</b>:  {{ ad.advertisement_number }}
                                    <br><br>
                                    <b>Website</b>: <br> {{ ad.website_url }}
                                    {% if ad.description %}
                                        <br><br>
                                        <b>Description</b>: <br> {{ ad.description }}
                                    {% endif %}

                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="{{ ad.website_url }}" target="_blank" class="btn btn-primary">Goto website</a>
                                  </div>
                                </div>
                              </div>
                            </div>

                        </td>
                        <td>{{ ad.occurrence_count }}</td>
                        <td><code>{{ ad.user.fullname }} ({{ ad.user_id }})</code></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
