# Requirements for AdNotifier
# Install by: ```pip install -r requirements.txt```
Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-WTF
Flask-APScheduler
mysql-connector-python
gunicorn
python-dotenv
requests
beautifulsoup4