<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>AdNotifier - {% block title %}{% endblock %}</title>
    
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- The follwoing is for displaying logos for github, fb, twitter etc -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">AdNotifier</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('main.index') }}">Home</a>
          </li>
          {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('auth.dashboard') }}">Dashboard</a>
            </li>
            <!-- TODO: Add logic to check whether user is admin to show Admin page! -->
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('admin.home') }}">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('auth.signup') }}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('auth.login') }}">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>


<section id="main-content" class="container">
    {% block content %}{% endblock %}
</section>

<footer class="bg-primary">
    <div class="social">
        <a href="https://indrajitghosh.onrender.com/" target="_blank"><i class="icon ion-android-globe"></i></a>
        <a href="https://github.com/indrajit912" target="_blank"><i class="icon ion-social-github"></i></a>
        <a href="https://www.linkedin.com/in/indrajit912/" target="_blank"><i class="icon ion-social-linkedin"></i></a>
        <a href="https://twitter.com/Meself_Indrajit" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://fb.com/indrajitghosh912" target="_blank"><i class="icon ion-social-facebook"></i></a>
        <a href="https://instagram.com/indrajitghosh912" target="_blank"><i class="icon ion-social-instagram"></i></a>
        <p class="copyright">&copy; 
            <span id="copyright-year">
                <script>
                    // JavaScript to print the current year
                    document.getElementById('copyright-year').appendChild(document.createTextNode(new Date().getFullYear()))
                </script>
            </span>
            Indrajit Ghosh. All rights reserved.
        </p>
    </div>
</footer>

<!-- Include any additional JavaScript or external scripts here -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>
