<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>AdNotifier - {% block title %}{% endblock %}</title>
    
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/style.css') }}">

    <!-- The follwoing is for displaying logos for github, fb, twitter etc -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    {% endblock %}
</head>
<body>

<nav>
    <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Sign In</a></li>
    </ul>
</nav>

<section id="main-content">
    {% block content %}{% endblock %}
</section>

<footer>
    <div class="social">
        <a href="https://github.com/indrajit912" target="_blank"><i class="icon ion-social-github"></i></a>
        <a href="https://www.linkedin.com/in/indrajit912/" target="_blank"><i class="icon ion-social-linkedin"></i></a>
        <a href="https://twitter.com/Meself_Indrajit" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://fb.com/indrajitghosh912" target="_blank"><i class="icon ion-social-facebook"></i></a>
        <a href="https://instagram.com/indrajitghosh912" target="_blank"><i class="icon ion-social-instagram"></i></a>
        <p class="copyright">&copy; 
            <span id="copyright-year">
                <script>
                    // JavaScript to print the current year
                    document.getElementById('copyright-year').appendChild(document.createTextNode(new Date().getFullYear()))
                </script>
            </span>
            Indrajit Ghosh. All rights reserved.</p>
    </div>
</footer>

<!-- Include any additional JavaScript or external scripts here -->

</body>
</html>
