<!-- main/index.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block styles %}
    {{ super() }}
    <!-- Additional styles specific to this template go here -->
{% endblock %}

{% block content %}
    <h1 class="heading">Welcome to AdNotifier</h1>
    <!-- Add specific content for the home page here -->
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In, id libero ab eligendi nobis corrupti minima dignissimos, aspernatur, autem beatae sint reprehenderit nostrum sed inventore facilis molestiae. Dolor, cupiditate repellendus!
    </p>
{% endblock %}
