<!-- app/auth/change_password.html -->
{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}

    {% include 'flash_msgs.html' %}

    {% for error in form.new_password.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <h1 class="heading">Change Password</h1>

    <form method="POST" class="form-container">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.old_password.label(class="form-label") }}
            {{ form.old_password(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.new_password.label(class="form-label") }}
            {{ form.new_password(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control") }}
        </div>

        <div class="col-sm-10">
            {{ form.submit(class="btn btn-primary") }}
            <a href="{{ url_for('auth.dashboard') }}" class="btn btn-secondary">Back</a>
        </div>
    </form>
{% endblock %}
