<!-- 
  app/auth/templates/auth/dashboard.html 
  Author: Indrajit Ghosh
  Created On: Feb 02, 2024
-->
{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}


{% block content %}
    {% include 'flash_msgs.html' %}

    <div class="card">
      <h5 class="card-header">{{ user.fullname }}</h5>
      <div class="card-body">

        <div class="row">
          <!-- Avatar -->
          <div class="col-md-2 text-center">
            <a href="https://gravatar.com/" target="_blank">
              <img src="{{ user.avatar(150) }}" class="img-thumbnail" alt="user-avatar">
            </a>
          </div>
          <!-- User info -->
          <div class="col-md-8">
            <h5 class="card-title">Welcome to your dashboard!</h5>
            <p class="card-text">
                <ul>
                    {% if user.nickname != user.fullname %}
                      <li><b>Nickname</b>: <code>{{ user.nickname }}</code> </li>
                    {% endif %}
                    <li><b>Email</b>: <code>{{ user.email }}</code></li>
                    <li>
                      <b>Telegram ID</b>: <code>{{ user.telegram }}</code> 
                      {% if not user.telegram %}
                        (<a href="{{ url_for('auth.add_telegram', user_id=user.id) }}" class="form-text">Wanna add?</a>)
                      {% endif %}
                    </li>
                    <li><b>Account Created</b>: <code>{{ convert_utc_to_ist(user.created_at.strftime("%Y-%m-%d %H:%M:%S")) }}</code> </li>
                    <li><b>Admin</b>: <code>{{ user.is_admin }}</code> </li>
                </ul>
            </p>
          </div>

        </div>
        
        
        <!-- Button trigger addUserAdv modal -->
        <button type="button" id="addNowbtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUserAdvModal">
          <span id="addNowSpinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
          Add now
        </button>
        

        <!-- Modal -->
        <div class="modal fade" id="addUserAdvModal" tabindex="-1" aria-labelledby="addUserAdvModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="addUserAdvModalLabel">Add your advertisement</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Calcel"></button>
              </div>
              <div class="modal-body">
              
                <!-- Add Advertisement form here -->
                <form>
                  <div class="mb-3">
                    <label for="adv-title" class="col-form-label">Enter a Title</label>
                    <input type="text" class="form-control" id="adv-title" placeholder="e.g- IISER Pune 2024 Exam"/>
                  </div>

                  <div class="mb-3">
                    <label for="adv-number" class="col-form-label">Advertisement Number</label>
                    <input type="text" class="form-control" id="adv-number" placeholder="e.g- 'ADVT. NO.1/2020'"/>
                  </div>

                  <div class="mb-3">
                    <label for="adv-web-url" class="col-form-label">Paste the Website URL</label>
                    <textarea class="form-control" id="adv-web-url" placeholder="e.g.- https://www.iiserpune.ac.in/opportunities"></textarea>
                  </div>


                  <div class="mb-3">
                    <label for="adv-description" class="col-form-label">Description (optional)</label>
                    <textarea class="form-control" id="adv-description" placeholder="e.g.- Level 10, Grade A post. The last date of application was Jul 04, 2023" rows="4"></textarea>
                  </div>

                </form>
              
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="addUserAdvertisementButton" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUserAdvModal" >
                  Add it
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Modal thing here -->

        <a href="{{ url_for('auth.change_password', user_id=user.id) }}" class="btn btn-warning">Change Password</a>
        
      </div>
    </div>

    <br><br>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for ad in user_ads %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ ad.title }}</h5>
            <div><span class="fw-bold">Date added</span>: {{ convert_utc_to_ist(ad.created_at.strftime("%Y-%m-%d %H:%M:%S")) }}</div> 
            <br>
            
            <!-- View URL Button to trigger modal -->
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#viewurlModal{{ ad.id }}">
              View
            </button>

            <!-- Update button to trigger modal -->
            <button
              type="button"
              class="btn btn-warning me-md-2 btn-sm"
              data-bs-toggle="modal"
              data-bs-target="#updateModal{{ ad.id }}"
            >
              Update
            </button>

            <!-- Delete btn to trigger modal -->
            <button type="button" class="btn btn-danger me-md-2 btn-sm" data-bs-toggle="modal" data-bs-target="#delAdModal{{ ad.id }}">
              Delete
            </button>
            
            
            <!-- View Modal -->
            <div class="modal fade" id="viewurlModal{{ ad.id }}" tabindex="-1" aria-labelledby="viewurlModalLabel{{ ad.id }}" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="viewurlModalLabel{{ ad.id }}">{{ ad.title }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <b>Advertisement Number</b>:  <code>{{ ad.advertisement_number }}</code>
                    <br><br>
                    <b>Website</b>: <br> <code>{{ ad.website_url }}</code>
                    {% if ad.description %}
                        <br><br>
                        <b>Description</b>: <br> <code>{{ ad.description }}</code>
                    {% endif %}
                    
                    {% if current_user.is_admin %}
                      <br><br>
                      <b>Webpage SHA-256 hash</b>: <code>{{ ad.page_content_hash }}</code>
                    {% endif %}

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="{{ ad.website_url }}" target="_blank" class="btn btn-primary">Goto website</a>                    
                  </div>
                </div>
              </div>
            </div>
        
            
            <!-- Update modal -->
            <div
              class="modal fade"
              id="updateModal{{ ad.id }}"
              tabindex="-1"
              aria-labelledby="updateModalLabel{{ ad.id }}"
              aria-hidden="true"
              style="display: none"
            >
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="updateModalLabel{{ ad.id }}">
                      Update your advertisement details!
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3">
                        <label for="adv-titleUpdate-{{ ad.id }}" class="col-form-label">Advertisement Title:</label>
                        <input type="text" class="form-control" id="adv-titleUpdate-{{ ad.id }}" value="{{ ad.title }}"/>
                      </div>
                      <div class="mb-3">
                        <label for="adv-numUpdate-{{ ad.id }}" class="col-form-label">Paste Advertisement Number:</label>
                        <input type="text" class="form-control" id="adv-numUpdate-{{ ad.id }}" value="{{ ad.advertisement_number }}"/>
                      </div>
                      <div class="mb-3">
                        <label for="adv-urlUpdate-{{ ad.id }}" class="col-form-label">Paste URL below:</label>
                        <textarea class="form-control" id="adv-urlUpdate-{{ ad.id }}">{{ ad.website_url }}</textarea>
                      </div>
                      <div class="mb-3">
                        <label for="adv-descUpdate-{{ ad.id }}" class="col-form-label">Description (optional):</label>
                        <textarea class="form-control" id="adv-descUpdate-{{ ad.id }}">{{ ad.description }}</textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Cancel
                    </button>
                    <button type="button" class="btn btn-warning me-md-2" data-bs-toggle="modal" data-bs-target="#updateModal{{ ad.id }}" onclick="updateDashboardAdvertisement('{{ ad.id }}')">
                        Update
                    </button>
                  </div>
                </div>
              </div>
            </div>


            <!-- Delete Modal -->
            <div class="modal fade" id="delAdModal{{ ad.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="delAdModalLabel{{ ad.id }}" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="delAdModalLabel{{ ad.id }}">Delete Advertisement!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Ensure that you are certain about deleting the advertisement before proceeding.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <!-- <button type="button" class="btn btn-primary">Understood</button> -->
                    <a href="{{ url_for('auth.delete_ad', id=ad.id) }}" class="btn btn-danger">Delete</a> 
                  </div>
                </div>
              </div>
            </div>

            
             
          </div>
          
          <div class="card-footer">
            <small class="text-body-secondary">Last updated: {{ convert_utc_to_ist(ad.last_updated.strftime("%Y-%m-%d %H:%M:%S")) }}</small>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Script to make the `auth.update_advertisement` route global -->
    <script type="text/javascript">
      window.updateAdvertisementUrl = "{{ url_for('auth.update_advertisement') }}";
      window.addAdvertisementUrl = "{{ url_for('auth.add_advertisement') }}";
      window.dashboardUrl = "{{ url_for('auth.dashboard') }}";
    </script>

    <!-- Include your custom scripts -->
    <script src="{{ url_for('auth.static', filename='js/dashboardModalUpdate.js') }}"></script>
    <script src="{{ url_for('auth.static', filename='js/add_advertisement.js') }}"></script>
    
{% endblock %}