<!-- app/auth/templates/auth/dashboard.html -->
{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    {% include 'flash_msgs.html' %}

    <div class="card">
      <h5 class="card-header">{{ user.fullname }}</h5>
      <div class="card-body">
        <h5 class="card-title">Welcome to your dashboard!</h5>
        <p class="card-text">
            <ul>
                <li><b>Email</b>: {{ user.email }}</li>
                <li><b>WhatsApp number</b>: {{ user.whatsapp }}</li>
                <li><b>Account Created</b>: {{ convert_utc_to_ist(user.created_at.strftime("%Y-%m-%d %H:%M:%S")) }}</li>
                <li><b>Admin</b>: {{ user.is_admin }}</li>
            </ul>
        </p>
        <a href="{{ url_for('auth.logout') }}" class="btn btn-primary">Logout</a>
        <a href="{{ url_for('auth.add_advertisement') }}" class="btn btn-primary">Add now</a>
      </div>
    </div>

    <br><br>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for ad in user_ads %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ ad.advertisement_number }}</h5>
            <div><span class="fw-bold">URL</span>: {{ ad.website_url }}</div>
            <div><span class="fw-bold">Date added:</span>: {{ convert_utc_to_ist(ad.created_at.strftime("%Y-%m-%d %H:%M:%S")) }}</div> 
            <br>
            <!-- TODO: Add logic to these buttons -->
            <div class="d-grid gap-2 d-md-flex">
              <a href="#" class="btn btn-warning me-md-2 btn-sm">Update</a>
            <a href="#" class="btn btn-danger btn-sm">Delete</a> 
            </div>
             
          </div>
          
          <div class="card-footer">
            <small class="text-body-secondary">Last updated: {{ convert_utc_to_ist(ad.last_updated.strftime("%Y-%m-%d %H:%M:%S")) }}</small>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
    
{% endblock %}