<!-- app/auth/templates/auth/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    {% include 'flash_msgs.html' %}

    <h1 class="heading">Login</h1>

    <!-- Login form goes here -->
    <form method="POST" class="form-container">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.passwd.label(class="form-label") }}
            {{ form.passwd(class="form-control") }}
        </div>

        
        <div class="col-sm-10">
            {{ form.submit(class="btn btn-primary") }}
            <div class="form-text"><a href="{{ url_for('auth.forgot_password') }}">Forgot password?</a></div>
        </div> 
    </form>

{% endblock %}