<!-- app/auth/templates/auth/signup.html -->
{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    {% include 'flash_msgs.html' %}
    
    {% for error in form.passwd.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <!-- Signup form goes here -->
    <form method="POST" class="form-container">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.fullname.label(class="form-label") }}
            {{ form.fullname(class="form-control") }}
        </div>
        
        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            <div class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <div class="mb-3">
            {{ form.passwd.label(class="form-label") }}
            {{ form.passwd(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.confirm_passwd.label(class="form-label") }}
            {{ form.confirm_passwd(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.whatsapp.label(class="form-label") }}
            {{ form.whatsapp(class="form-control", placeholder="this entry is optional") }}
        </div>

        {{ form.submit(class="btn btn-secondary") }}
    </form>

    <!-- TODO: Delete the block below -->
    <br>
    <br>
    {% for our_user in our_users %}
        <li>{{ our_user.fullname }} - {{ our_user.email }} | <a href="{{ url_for('auth.delete_user', id=our_user.id) }}">Delete</a></li>
    {% endfor %}
{% endblock %}
