<!-- app/auth/templates/auth/signup.html -->
{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    {% include 'flash_msgs.html' %}
    
    {% for error in form.passwd.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    
    <h1 class="heading">Register yourself</h1>

    <!-- Signup form goes here -->
    <form method="POST" class="form-container">
        {{ form.hidden_tag() }}

        <div class="mb-3 row">
            {{ form.fullname.label(class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">
                {{ form.fullname(class="form-control") }}
            </div>
        </div>
        
        <div class="mb-3 row">
            {{ form.email.label(class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">
                {{ form.email(class="form-control") }}
                <div class="form-text">We'll never share your email with anyone else.</div>
            </div> 
        </div>

        <div class="mb-3 row">
            {{ form.passwd.label(class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">
                {{ form.passwd(class="form-control") }}
            </div>
        </div>

        <div class="mb-3 row">
            {{ form.confirm_passwd.label(class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">
                {{ form.confirm_passwd(class="form-control") }}
            </div>
        </div>

        <div class="mb-3 row">
            {{ form.whatsapp.label(class="col-sm-2 col-form-label") }}
            <div class="col-sm-10">
                {{ form.whatsapp(class="form-control", placeholder="this entry is optional") }}
            </div>
        </div>

        {{ form.submit(class="btn btn-secondary") }}
    </form>
    
{% endblock %}



